<div id="<%= dom_id feature %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= feature.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Feature:</strong>
    <%= feature.feature %>
  </p>
</div>
