<div class="flex flex-col w-full p-8">
  <div class="flex flex-col grow items-center justify-center w-full">
    <div class="flex flex-col items-left justify-center mb-8 max-w-xl space-y-8">

      <h1 class="text-4xl md:text-4xl font-bold text-center">
        Sitting is silently killing you
      </h1>

      <p class="text-pretty text-center">
        No matter how much you exercise, sitting for long periods of time is a risk factor for early death <sup><a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/sitting-disease-how-a-sedentary-lifestyle-affects-heart-health" target="_blank">1</a></sup> <sup><a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC7700832/" target="_blank">2</a></sup> <br><strong>We need to move frequently.</strong>
      </p>

      <div class="mb-8">
        <blockquote class="twitter-tweet" data-media-max-width="560"><p lang="en" dir="ltr">It doesn&#39;t take much<br><br>Sprinkling exercise snacks throughout the day (3x, 1-3 mins. each) has a big impact on lowering cancer- and cardiovascular-related mortality<br><br>• Burpees<br>• Air squats<br>• Sprinting up the stairs<br><br>These are also great for breaking up sedentary periods <a href="https://t.co/i0FV8jZriq">pic.twitter.com/i0FV8jZriq</a></p>&mdash; FoundMyFitness Clips (@fmfclips) <a href="https://twitter.com/fmfclips/status/1784261555745440157?ref_src=twsrc%5Etfw">April 27, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      </div>


      <p class="text-pretty text-center">
        The good news is, incorporating short bursts of movement into your daily routine can counteract the negative effects of sitting.        
      </p>

      <hr class="w-full border-1 border-blue-200">

      <p class="text-pretty text-center">        
             <strong>Livelonger</strong> is a world-wide countdown to perform a 1-minute mobility and strength exercise every 45 minutes.
      </p>

      <p class="text-center">
          <%= link_to "Join the movement", join_exercises_path, class: "button-primary", data: { controller: "audio", action: "audio#resumeAudioContext", turbo_frame: "body" } %>
      </p>
    </div>
  </div>  
</div>